.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__c4RN {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__c4RN > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__c4RN > :global(.__wab_flex-container) > *,
.freeBox__c4RN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c4RN > :global(.__wab_flex-container) > picture > img,
.freeBox__c4RN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4RN {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__n2Gq3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n2Gq3 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__expanded__n2Gq3RdXX {
    display: none;
  }
}
.linkButton__az5BT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__mIoPm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__wtDu5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ba2CF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tmabi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__zMilK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__zMilK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__zMilK > :global(.__wab_flex-container) > *,
.freeBox__zMilK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zMilK > :global(.__wab_flex-container) > picture > img,
.freeBox__zMilK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink__eeDYa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bZ2RW {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: 63tybkpwtf35 */;
  width: 18px;
  height: 18px;
}
.root .svg__bZ2RW:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
}
.iconLink__wtzU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eiqmU {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: 63tybkpwtf35 */;
  width: 18px;
  height: 18px;
}
.root .svg__eiqmU:hover {
  color: rgb(233, 156, 46);
}
.iconLink___9Maz1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5KLd {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: 63tybkpwtf35 */;
  width: 18px;
  height: 18px;
}
.root .svg___5KLd:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
}
.freeBox___9A5KO {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton___6XNn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___56Jyi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__gc5Jl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zZtNq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zO4Nw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
