.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__y3RzK {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__y3RzK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__y3RzK > :global(.__wab_flex-container) > *,
.freeBox__y3RzK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y3RzK > :global(.__wab_flex-container) > picture > img,
.freeBox__y3RzK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y3RzK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y3RzK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y3RzK > :global(.__wab_flex-container) > *,
  .freeBox__y3RzK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y3RzK > :global(.__wab_flex-container) > picture > img,
  .freeBox__y3RzK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__tEnGx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tEnGx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tEnGx > :global(.__wab_flex-container) > *,
.freeBox__tEnGx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tEnGx > :global(.__wab_flex-container) > picture > img,
.freeBox__tEnGx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__zZboQ {
  position: relative;
  font-weight: 700;
}
.freeBox__vuT70 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vuT70 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vuT70 > :global(.__wab_flex-container) > *,
.freeBox__vuT70 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vuT70 > :global(.__wab_flex-container) > picture > img,
.freeBox__vuT70
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__dhezn {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dhezn:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__ouIk1 {
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ouIk1:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link___4J2Xh {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___4J2Xh:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__tgOyI {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__tgOyI:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.freeBox__bMhg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bMhg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bMhg > :global(.__wab_flex-container) > *,
.freeBox__bMhg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bMhg > :global(.__wab_flex-container) > picture > img,
.freeBox__bMhg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__hc7HI {
  position: relative;
  font-weight: 700;
}
.freeBox__fufv9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fufv9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fufv9 > :global(.__wab_flex-container) > *,
.freeBox__fufv9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fufv9 > :global(.__wab_flex-container) > picture > img,
.freeBox__fufv9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__zFa7Y {
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__zFa7Y:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__ujLZ {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ujLZ:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__mUblZ {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mUblZ:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__vOlQe {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link__vOlQe:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__vzc8D {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__vzc8D:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.freeBox__ypJn {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ypJn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ypJn > :global(.__wab_flex-container) > *,
.freeBox__ypJn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ypJn > :global(.__wab_flex-container) > picture > img,
.freeBox__ypJn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__aqm7 {
  position: relative;
  font-weight: 700;
}
.freeBox__fd2Jv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fd2Jv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fd2Jv > :global(.__wab_flex-container) > *,
.freeBox__fd2Jv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fd2Jv > :global(.__wab_flex-container) > picture > img,
.freeBox__fd2Jv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___7C3ET {
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___7C3ET:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__iAbFi {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__iAbFi:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__duvsG {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__duvsG:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__mP6Mc {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mP6Mc:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.link__xBjmq {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__xBjmq:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  padding-left: 10px;
}
.freeBox__ouNIq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ouNIq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ouNIq > :global(.__wab_flex-container) > *,
.freeBox__ouNIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ouNIq > :global(.__wab_flex-container) > picture > img,
.freeBox__ouNIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__vflf1 {
  position: relative;
  font-weight: 700;
}
.text__snIzG {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: 8jQhaKK6X1Im */;
}
.freeBox__ffdVv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox__ffdVv:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: 8jQhaKK6X1Im */;
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__t6Nb {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__jm2Vi {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: #f8f9fd;
  padding: 32px 16px;
}
.freeBox__jm2Vi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jm2Vi > :global(.__wab_flex-container) > *,
.freeBox__jm2Vi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jm2Vi > :global(.__wab_flex-container) > picture > img,
.freeBox__jm2Vi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3Gqp9 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___3Gqp9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3Gqp9 > :global(.__wab_flex-container) > *,
.freeBox___3Gqp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Gqp9 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Gqp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__mNwc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___24BR {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg___24BR:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
}
.iconLink__k2L9A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dWDsX {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__dWDsX:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
}
.iconLink___4BjPu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qa1Id {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__qa1Id:hover {
  color: rgb(233, 156, 46) /* plasmic-token: hXOWy1c-3cTQ */;
}
.freeBox__qkY7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qkY7 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__cI1Kb {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__qkKkl {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__qkKkl:hover {
  text-decoration-line: underline;
}
.link__pdFDm {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__pdFDm:hover {
  text-decoration-line: underline;
}
